sonarqubetest/src/main/mule/sonarqubetest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6daced77-de1c-45b3-b2a5-275cde08e757" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="sonarqubetestFlow" doc:id="03a668af-48ff-45ff-8df6-1b756e9348f1" >
		<http:listener doc:name="Listener" doc:id="72943fd2-a5db-41f7-82f5-80d0dca2b783" config-ref="HTTP_Listener_config" path="/sonar"/>
		<ee:transform doc:name="Transform Message" doc:id="9e9b48a5-a130-4e60-8907-37ad163e7e70" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	payload: "candido"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0a3ddcc2-5a1d-440c-95b6-b6b142a8d25c" message="#[payload]"/>
	</flow>
</mule>
