src/main/mule/sonar.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c76c05d8-e707-46e2-97fc-c1ee6f5a8e11" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="sonarFlow" doc:id="452e7b72-95e8-473d-a2ba-6a41be134373" >
		<http:listener doc:name="Listener" doc:id="dabb387e-a081-43c1-be0d-0155d36c0af3" config-ref="HTTP_Listener_config" path="/sonar"/>
		<ee:transform doc:name="Transform Message" doc:id="7263c2de-e7e4-4c71-9c04-10cf6b172763" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	payload: "candido"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0e61fa68-b922-4af5-b96d-c9f1441bfda4" message="#[payload]"/>
	</flow>
</mule>
